.secondary_button {
	background-color: var(--primary-dark);
	color: var(--secondary);
	@apply min-w-36 py-2.5 text-sm rounded-md transition-all;
}

.secondary_button:hover {
	background-color: var(--primary-darker);
}
