@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3673fd;
  --primary-dark: #2d2b42;
  --primary-darker: #0c0d22;
  --secondary: white;
  --secondary-soft: #e5e5e5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-dark: #e5e5e5;
    --primary-darker: white;
    --secondary: #0c0d22;
    --secondary-soft: #2d2b42;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: var(--primary-darker);
  background: var(--secondary);
}

@layer base {

} 

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .main-container {
    @apply h-full w-full flex flex-col justify-between px-5 sm:px-10 md:px-20 xl:px-44;
  }
}
